name: Test

on:
  push:
    branches: main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  checks: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache SwiftPM
        uses: actions/cache@v5
        with:
          path: .build
          key: ${{ runner.os }}-swiftpm-${{ hashFiles('Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-swiftpm-

      - name: Swift version
        run: swift --version

      - name: Test
        run: swift test --xunit-output output.xml --parallel

      - name: Upload artifacts
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v6
        with:
          name: test-results
          path: |
            output.xml
            output-swift-testing.xml
          if-no-files-found: ignore

      - uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Merge test results
        run: |
          npm install -g junit-report-merger
          jrm merged.xml "./**/*.xml"

      - name: Publish test reports
        uses: mikepenz/action-junit-report@v6
        if: ${{ !cancelled() }}
        with:
          report_paths: |
            merged.xml
